{%  extends '@mailer/base/fr.html.twig' %}

{% block mail_body %}
    <p style="font-weight: bold">
        Vous y êtes presque !
    </p>
    <p>
        Toute l'équipe Union est heureuse de vous compter parmis ces utilisateurs. Il vous suffit de compléter votre profile en cliquant sur le boutton ci-dessous.
    </p>
    <p>
        <a href="{{ blogUrl ~ '/profile' }}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">Accéder à mon profil</a>
    </p>
{% endblock %}
